body{ 
    background:rgb(163, 163, 250); 
    font: normal 15pt arial;

}

header{
color:white;
text-align: center;
}
.MinhaClasse {
    border-radius: 50%;
    width: 400px;
    padding: 100;
    margin: auto;
}

section{
background:white;
border-radius: 10px;
padding: 30px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.438)
}
div {
    text-align: center;
    padding: 8px;
}
footer{
color:white;
text-align:center;
font-style:italic;
}